body {
    color: #000080;
    background-color: #ffffff;
}
.heading {
   text-align: center;
   font-weight: bold;
   border-bottom: 1px solid gray;
}
a {
    color: #800080;
}
a:visited {
    color: #ff0000;
}
ul {
    margin-left:10px;
    list-style:disc;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.links1, .links2 {
    border: 1px solid white;
    min-height: 100%;
    color: navy;
}
.links1 {
     width: 50%;
     background-color: #ffffff;
    min-height: 100px;
    position: fixed;
}
.links2 {
    width: 50%;
    background-color: #ffffff;
    float: right;
}
footer {
  background-color: #ffffff;
position: absolute;
bottom: 0;
}
.geico {
  text-align: center;
  border-top: 1px solid gray;
}
.feedback {
border-top: 1px solid gray;
}
.legal {
border-top: 1px solid gray;
}

